.box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    background-color: #282c34;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 1px;
    color: aliceblue;
}

.green {
    background-color: green;
    color: aliceblue;
}

.amber {
    background-color: rgb(209, 147, 14);
    color: aliceblue;
}

.grey {
    background-color: rgb(87, 85, 85);
    color: aliceblue;
}