.box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #343A40;
    background-color: #121213;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 1px;
    color: aliceblue;
}

.green {
    background-color: #538d4e;
    color: aliceblue;
}

.amber {
    background-color: #b59f3b;
    color: aliceblue;
}

.grey {
    background-color: #3A3A3C;
    color: aliceblue;
}